.App {
  min-height: 100vh;
  background: hsl(var(--background));
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: hsl(var(--primary));
}
